li,
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1 {
  margin: 0px;
}

.wrapper {
  // max-width: 1920px;
  max-width: 1420px;
  width: 90%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0px;

  &.primary {
    border: 1px solid transparent;
    background-color: var(--accent-colour);
    color: white;
    text-transform: uppercase;
    padding: 8px 16px;
    border: 1px solid transparent;

    &:hover {
      background-color: #fff;
      color: var(--accent-colour);
      border: 1px solid var(--accent-colour);
    }
  }

  &.btn-quickview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-colour);
    border: none;

    &:hover {
      color: var(--accent-colour);
    }
  }

  &.btn-color-selection {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-right: 16px;
    border: 1px solid var(--neutral-colour);

    &.active {
      outline: 1px solid #212529;
      border: 1px solid #ced4da;
      outline-offset: 2px;
    }
  }
}

img {
  height: auto;
  width: 100%;
  max-width: 26vw;
  // width: 350px;
}

select {
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
  padding: 0px 8px;

  option:first-of-type {
    margin-right: 8px;
  }
}

section {
  padding: 64px 0px;
}

ul.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  flex: 1;
}

.flex-container {
  display: flex;
  gap: 24px;
}

.products-page {
  display: flex;
  gap: 48px;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 121px);

  .loading-container {
    height: 675px;
    width: 450px;
    border: 1px solid black;
  }
}
