/* Base styles */
:root {
  --light-grey: #edede9;
  --dark-grey: #5c5c5f;
  --background-colour: #fffbff;
  --red-colour: #ba181b;
  --accent-colour: #167a92;
  --neutral-colour: #e2ddd6;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background-colour);
}

li,
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

ul.product-list,
ul.shop-products {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.shop-products {
  justify-content: center;
}

.product-list {
  flex: 1;
}

a {
  text-decoration: none;
}

h2 {
  margin: 8px 0px;
  font-size: 1.6rem;
  font-weight: 300;
}

p {
  font-size: 1.4rem;
}

p,
h1 {
  margin: 0px;
}

h1 a {
  color: var(--dark-grey);
}

.wrapper {
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}

.products-page {
  display: flex;
  gap: 48px;
}

button {
  cursor: pointer;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0px;
}

button.primary {
  border: 1px solid transparent;
  background-color: var(--accent-colour);
  color: white;
  text-transform: uppercase;
  padding: 8px 16px;
}

.btn-quickview {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-colour);
  border: none;
}

.btn-quickview:hover {
  color: var(--accent-colour);
}

.btn-color {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 16px;
  border: 1px solid var(--neutral-colour);
}

.btn-color.active {
  outline: 1px solid #212529;
  border: 1px solid #ced4da;
  outline-offset: 2px;
}

img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  width: 350px;
  height: 525px;
}

.colors-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 1.2rem;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.original-price,
.sale-tag {
  color: var(--red-colour);
}

.sale-item {
  text-decoration: line-through;
  color: black;
}

.quick-shop-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  background: transparent;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.flex-container,
.quick-shop-overlay .image-container {
  display: flex;
  gap: 24px;
}

.quick-shop-modal {
  background-color: white;
  padding: 64px;
  width: 824px;
  height: 450px;
  position: relative;
}

.quick-shop-modal .close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: transparent;
  border: none;
}

.close-btn .close-icon {
  font-size: 3.5rem;
  color: var(--dark-grey);
}

.close-icon:hover {
  color: var(--accent-colour);
}

select {
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
  padding: 0px 8px;
}

select option:first-of-type {
  margin-right: 8px;
}

.quick-shop-modal img {
  height: auto;
  width: 300px;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-left,
.icon-right {
  height: 32px;
  width: 32px;
  color: var(--dark-grey);
}

.icon-left:hover,
.icon-right:hover {
  color: var(--accent-colour);
}

.loading-container {
  height: 675px;
  width: 450px;
  border: 1px solid black;
}

.product-description {
  padding: 16px 0px;
}

form {
  display: flex;
  gap: 16px;
}

form button {
  width: 100%;
}

.cart-icon {
  height: 25px;
  width: 25px;
  color: var(--accent-colour);
}

nav {
  position: sticky;
  top: 0;
  z-index: 99;
  background: white;
  border-bottom: 1px solid var(--light-grey);
  height: 72px;
  display: flex;
  align-items: center;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.cart-count {
  height: 20px;
  width: 20px;
  background-color: var(--accent-colour);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
  top: -5px;
}

.cart-count span {
  color: white;
  font-weight: 600;
}

.shop-products,
section {
  padding: 64px 0px;
}

.shop-products img {
  height: 500px;
  width: 500px;
}

.shop-products li {
  position: relative;
}

.product-link:hover {
  color: var(--accent-colour);
}

.shop-products a {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 12px 16px;
  color: black;
}

/* table styles */
table {
  border-collapse: collapse;
}

th:first-of-type,
td:first-of-type {
  width: 200px;
  text-align: left;
}

td:not(:first-of-type),
th:not(:first-of-type) {
  width: 200px;
  text-align: right;
}

tr {
  border-bottom: 1px solid var(--light-grey);
}

th {
  padding-bottom: 16px;
}

td {
  vertical-align: top;
  padding: 16px 0px;
}

/* Cart page */
.item-container {
  display: flex;
  gap: 16px;
  width: 308px;
}

.item-container img {
  height: 200px;
  width: 150px;
  margin: unset;
}

.item-info span {
  display: block;
}

.remove-icon:hover {
  color: var(--red-colour);
  cursor: pointer;
}

.cart-header {
  margin: 0px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 16px;
}

.empty-basket {
  padding: 16px;
  border: 1px solid var(--light-grey);
  margin-top: 2em;
}

/* Filter menu */

.filter-container {
  width: 150px;
  position: sticky;
  top: 150px;
  align-self: flex-start;
}

p.hide {
  display: none;
}

.filter-tag {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-grey);
}

.filter-list {
  padding: 16px 0px;
  border-bottom: 1px solid var(--light-grey);
  cursor: pointer;
}

.filter-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.6rem;
}

.filter-category svg {
  font-size: 1.2rem;
}

.filter-item {
  padding: 8px 16px;
  margin-bottom: 8px;
}

.filter-item:hover {
  box-shadow: 0 0 0 1px var(--accent-colour) inset;
  color: var(--accent-colour);
}

.filter-category.open {
  margin-bottom: 8px;
}

.clear-btn {
  padding: 8px 0px;
  margin-top: 8px;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--dark-grey);
}

.clear-btn:hover {
  text-decoration: none;
  color: var(--accent-colour);
}

/* cart page */
.cart .flex-container {
  justify-content: space-between;
  gap: 80px;
}

.cart-content {
  flex: 1;
}

/* order summary */
.order-summary-list {
  width: 350px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  padding: 16px;
}

.order-summary-list li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}

.order-summary-container h3 {
  margin-top: 0px;
}

.order-summary-container {
  position: sticky;
  top: 136px;
  align-self: flex-start;
}
